<div class="container ">

    <div class="row">
        <div class="col-12  mt-4 ">
            <h2>Configuracion</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">

            <div class="card_table">


                <div class="card_table_header py-4">
                    <b>Hola cristian!</b>
                </div>


                <div class="card_table_body">


                    <div class="item_table d-flex" (click)="tipo = 'envios'">

                        <img src="/assets/down-arrow.png" class="down_arrow">

                        <div class="cont_img_logo_user">
                            <img src="/assets/scooter.png">
                        </div>
                        <div class="ml-2 d-flex my-auto">
                            <a class="mb-0"><b>Mis envios</b> <br> <small>Configurá tus envios</small></a>
                        </div>
                    </div>

                    <div class="item_table d-flex">
                        <a href="https://wa.me/541138459621" class="w-100 d-flex">

                            <img src="/assets/down-arrow.png" class="down_arrow">

                            <div class="cont_img_logo_user">
                                <img src="/assets/customer-service.png">
                            </div>
                            <div class="ml-2 d-flex my-auto">
                                <a class="mb-0" style="color:#212529"><b>¡Ayuda!</b> <br> <small>Nosotros te ayudamos</small></a>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="lightbox-d" *ngIf="tipo !== ''">
    <div class="popup">
        <div>
            <a class="h4">Configuración de envios</a>
        </div>
        <hr>
        <div class="my-3">
            <select (change)="isEnvios = ($event.target.value === 'Si' ? false : true)">
                    <option>
                        ¿Hacen envíos?
                    </option>
                    <option >
                        Si
                    </option>
                    <option >
                        No
                    </option>
    
                </select>
        </div>
        <div class="mb-3">
            <input placeholder="¿En que horarios haces envios?" [disabled]="isEnvios" [(ngModel)]="dataEnvios.horario">
        </div>

        <div>
            <input placeholder="¿Hastá cuantos KM de tu ubicación?" [disabled]="isEnvios" [(ngModel)]="dataEnvios.ubicacion">
        </div>



        <div class="d-flex my-3">
            <div class="ml-auto mt-auto py-2">

                <button class="btn-p mr-3" (click)="guardarConfiguracion()">Guardar</button>
                <button class="btn-s" (click)="tipo = ''">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<app-exito *ngIf="isExito" (cerrar)="isExito = false" [title]="'¡Envios configurados!'" [descripcion]="'Los envios se configurarón con extio.'"></app-exito>