<div class="container ">

    <div class="row">
        <div class="col-12  mt-4 ">
            <h2>Configuracion</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">

            <div class="card_table">
               
                <div class="card_table_header py-4">
                    <b>Hola cristian!</b>
                </div>

                <div class="card_table_body">
                    <div class="item_table d-flex">
                        <img src="/assets/rigth-arrow.png" class="down_arrow">
                        <div class="cont_img_logo_user">
                            <img src="/assets/user.png">
                        </div>
                        <div class="ml-2">
                            <a class="mb-0"><b> Administrar usuarios</b> <br> <small>Agregá y borrar usuarios</small></a>
                        </div>
                    </div>

                    <div class="item_table d-flex">
                        <img src="/assets/rigth-arrow.png" class="down_arrow">
                        <div class="cont_img_logo_user">
                            <img src="/assets/user.png">
                        </div>
                        <div class="ml-2">
                            <a class="mb-0"><b> Configurar horarios </b> <br> <small>Horarios de apertura y de cierre</small></a>
                        </div>
                    </div>

                    <div class="item_table d-flex">
                        <img src="/assets/rigth-arrow.png" class="down_arrow">
                        <div class="cont_img_logo_user">
                            <img src="/assets/user.png">
                        </div>
                        <div class="ml-2">
                            <a class="mb-0"><b>Mis envios</b> <br> <small>Configurá tus envios</small></a>
                        </div>
                    </div>

                    <div class="item_table d-flex">
                        <img src="/assets/rigth-arrow.png" class="down_arrow">
                        <div class="cont_img_logo_user">
                            <img src="/assets/user.png">
                        </div>
                        <div class="ml-2">
                            <a class="mb-0"><b>¡Ayuda!</b> <br> <small>Nosotros te ayudamos</small></a>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>