<!-- Background -->
<div id="bg_lg">
    <!-- Popup -->
    <div id="popup" class="container">
        <div class="row mb-3">
            <div class="col-12 d-flex">
                <img src="/assets/success.png" class="mx-auto" style="width: 120px">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <b class="mx-auto h3">{{title}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <p class="mx-auto"> {{descripcion}}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex">
                <button class="mx-auto" (click)="cerrarPopup()">Aceptar</button>
            </div>
        </div>
    </div>
</div>