<div class="container ">
    <div class="row">
        <div class="col-12  mt-4 d-flex ">
            <h2>Ofertas </h2>
            <div class="btn_add_item" routerLink="/backoffice/nueva-notificacion">
                Agregar Oferta
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4">

            <div class="card_table">
                <div class="card_table_header py-3">
                    <b>Mis Ofertas Activas</b>
                </div>
                <div class="card_table_body">
                    <div class="item_table " *ngFor="let x of listNotificaciones">
                        <div class="cont_img d-flex">
                            <img class="mx-auto" src="/assets/burger.png">
                        </div>
                        <div>
                            <p class="title_notification mt-3 text-center">{{x.title}}</p>
                            <p class="description_notification text-center">{{x.body}}</p>
                            <p class="mt-2 text-center"><b>Vence en: </b> <a class="text-danger">3 días</a></p>

                            <hr>
                            <p class="py-3 text-center">
                                <a class="text-info my-2" (click)="sendNotificacion()">Recordar</a><a class="ml-3 pb-4 text-danger" (click)="borrarNotificacion(x.uid)">Borrar</a>
                            </p>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<app-exito *ngIf="isExito" (cerrar)="isExito = false" [title]="'¡Notificaciones enviadas!'" [descripcion]="'La notificación seleccionada fue enviada a tus clientes.'"></app-exito>